body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
main {
    flex: 1 0 auto;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
}

#footer-color {
    background-color: rgb(45, 77, 107);
}

#nav-color {
    background-color: rgb(45, 77, 107);
}